rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
        && firestore.exists(/databases/(default)/documents/adminUsers/$(request.auth.uid));
    }

    match /registrations/{type}/{allPaths=**} {
      allow read: if isAdmin();
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read: if isAdmin();
      allow write: if false;
    }
  }
}
